<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Suported</title>
    <link rel="stylesheet" href="/public/css/suported.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="contacts">
            <div class="buttons">
                <button class="new-message fa-envelope-o"></button>
                <button class="search fa-search"></button>
            </div>
            <ul>
                <li class="person" data-chat="awLcMDhrmaBWpuHoAAAC">
                    <img class="ava" src="/public/assets/images/profile-80_4.jpg" alt="">
                    <p>
	                    <span class="name">ádasd</span>
	                    <span class="time">19:13 - ngày 13</span>
	                    <span class="preview">+mgs+</span>
	                </p>
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="messages">
            <ul>
                <li class="you">
                    Is this the real life?
                </li>
                <li class="me">
                    Is this just fantasy?
                </li>
                <li class="me">
                    Is this just fantasy?
                </li>
                <li class="me">
                    Is this just fantasy?
                </li>
                <li class="me">
                    Is this just fantasy?
                </li>
                <li class="you">
                    Is this the real life?
                </li>
                <li class="you">
                    Is this the real life?
                </li>
                <li class="you">
                    Is this the real life?
                </li>
                <li class="you">
                    Is this the real life?
                </li>
                <li class="me">
                    Is this just fantasy?
                </li>
                <li class="you">
                    Is this the real life?
                </li>
                <li class="me">
                    Is this just fantasy?
                </li>
                <li class="you">
                    Is this the real life?
                </li>
                <li class="me">
                    Is this just fantasy?
                </li>
            </ul>
        </div>
        <div class="stack-wrap"></div>
        <div class="form">
            <form>
                <div class="form-inner">
                    <input type="text" placeholder="something..." style="width: calc(100% - 45px);border: none;height: calc(100% - 2px);outline: none;margin: 0px;padding-left: 10px;background-color: #f1f1f1;color: #03a9f4;">
                    <button><i class="fa fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>
    <script src="/public/js/suported.js"></script>
</body>

</html>
